table {
    width: 100%;
    border-collapse: collapse;
  }

  th{
    text-align: start;
    border: 3px solid;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2; /* Серый цвет */
  }
  
  tr:nth-child(odd) {
    background-color: #ffffff; /* Белый цвет */
  }
  
  td, th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  body{
    background-color: #FFF5E1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    color: #2C4A36;
  }
  
  button{
    border: none;
    margin: 0;
    padding: 10px 40px;
    background-color: #F2D59E;

    
  }